DATABASE_URL=postgresql://user:pass@host:5433/db
SECRET_KEY=cambia-esto-en-produccion
ACCESS_TOKEN_EXPIRE_MINUTES=10080
FRONTEND_URL=https://tu-app.vercel.app
UPLOAD_DIR=./uploads
MAX_UPLOAD_SIZE_MB=5
GOOGLE_CLIENT_ID=
SUPABASE_URL=
SUPABASE_SECRET_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=uploads
